<!-- Top Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container-fluid">

        <!-- Project Title -->
        <a class="navbar-brand abs" href="#">Sentiment Analysis</a>

        <!-- Responsive Button -->
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Nav Options -->
        <div class="navbar-collapse collapse" id="collapseNavbar">

            <!-- Left Options -->
            <ul class="navbar-nav">

                <!-- Home -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <!-- Live App -->
                <li class="nav-item">
                    <a class="nav-link" href="/app">Live App</a>
                </li>

                <!-- About -->
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>

            </ul>

            <!-- Right Options -->
            <ul class="navbar-nav ms-auto">
                
                <!-- Settings -->
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-cog"></i></a>
                </li>

                <!-- Twitter -->
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                </li>

                <!-- GitHub -->
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/initrm/sentiment-analysis"><i class="fab fa-github"></i></a>
                </li>

            </ul>
        </div>
    </div>
</nav>