<!-- Not Found -->
<main class="container">
    <div class="row mt-2">
        <div class="col-12">

            <!-- Page Title -->
            <h1 class="text-center">404</h1>
            <!-- Page Subtitle -->
            <h3 class="text-center">Not Found</h3>
            <!-- Page Paragraph -->
            <p class="text-center">Something weird happened :/</p>
            
        </div>
    </div>
</main>