<!-- About -->
<div class="container">
    <div class="row justify-content-center">

        <!-- About page title -->
        <div class="col-12">
            <h1 class="text-center">About</h1>
        </div>

        <!-- Libraries and entities section title and subtitle -->
        <div class="col-12">
            <h4 class="text-center">Libraries &amp; licenses</h4>
            <h6 class="text-center text-muted">A list of the libraries which has been used into the project and helped its development.</h6>
        </div>

        <!-- Axios Card -->
        <div class="col-lg-8 col-md-12 m-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Axios</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-balance-scale"></i> MIT License</h6>
                    <p class="card-text">Promise based HTTP client for the browser and node.js.</p>
                    <a href="https://www.npmjs.com/package/axios" target="_blank" class="card-link"><i class="fab fa-npm"></i></a>
                    <a href="https://github.com/axios/axios" target="_blank" class="card-link"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>

        <!-- Bootstrap -->
        <div class="col-lg-8 col-md-12 m-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Bootstrap</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-balance-scale"></i> MIT License</h6>
                    <p class="card-text">Sleek, intuitive, and powerful front-end framework for faster and easier web development.</p>
                    <a href="https://www.npmjs.com/package/bootstrap" target="_blank" class="card-link"><i class="fab fa-npm"></i></a>
                    <a href="https://github.com/twbs/bootstrap" target="_blank" class="card-link"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>

        <!-- Env Cmd -->
        <div class="col-lg-8 col-md-12 m-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ENV CMD</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-balance-scale"></i> MIT License</h6>
                    <p class="card-text">A simple node program for executing commands using an environment from an env file.</p>
                    <a href="https://www.npmjs.com/package/env-cmd" target="_blank" class="card-link"><i class="fab fa-npm"></i></a>
                    <a href="https://github.com/toddbluhm/env-cmd" target="_blank" class="card-link"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>

        <!-- Express -->
        <div class="col-lg-8 col-md-12 m-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Express</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-balance-scale"></i> MIT License</h6>
                    <p class="card-text">Fast, unopinionated, minimalist web framework for node.</p>
                    <a href="https://www.npmjs.com/package/express" target="_blank" class="card-link"><i class="fab fa-npm"></i></a>
                    <a href="https://github.com/expressjs/express" target="_blank" class="card-link"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>

        <!-- Express Handlebars -->
        <div class="col-lg-8 col-md-12 m-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Express Handlebars</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-balance-scale"></i> MIT License</h6>
                    <p class="card-text">A Handlebars view engine for Express which doesn't suck.</p>
                    <a href="https://www.npmjs.com/package/express-handlebars" target="_blank" class="card-link"><i class="fab fa-npm"></i></a>
                    <a href="https://github.com/express-handlebars/express-handlebars" target="_blank" class="card-link"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>

        <!-- Luxon -->
        <div class="col-lg-8 col-md-12 m-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Luxon</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-balance-scale"></i> MIT License</h6>
                    <p class="card-text">Luxon is a library for working with dates and times in JavaScript.</p>
                    <a href="https://www.npmjs.com/package/luxon" target="_blank" class="card-link"><i class="fab fa-npm"></i></a>
                    <a href="https://moment.github.io/luxon/" target="_blank" class="card-link"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>

        <!-- Nodemon -->
        <div class="col-lg-8 col-md-12 m-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Nodemon</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-balance-scale"></i> MIT License</h6>
                    <p class="card-text">nodemon is a tool that helps develop node.js based applications by automatically restarting the node application when file changes in the directory are detected.</p>
                    <a href="https://www.npmjs.com/package/nodemon" target="_blank" class="card-link"><i class="fab fa-npm"></i></a>
                    <a href="https://github.com/remy/nodemon" target="_blank" class="card-link"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>

        <!-- Naive Bayes Classifier -->
        <div class="col-lg-8 col-md-12 m-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Naive Bayes Classifier</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-balance-scale"></i> MIT License</h6>
                    <p class="card-text">A Naive Bayes classifier implementation written in JavaScript.</p>
                    <a href="https://www.npmjs.com/package/bayes-classifier" target="_blank" class="card-link"><i class="fab fa-npm"></i></a>
                    <a href="https://github.com/miguelmota/bayes-classifier" target="_blank" class="card-link"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>

        <!-- Validator -->
        <div class="col-lg-8 col-md-12 m-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Validator</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-balance-scale"></i> MIT License</h6>
                    <p class="card-text">A library of string validators and sanitizers.</p>
                    <a href="https://www.npmjs.com/package/validator" target="_blank" class="card-link"><i class="fab fa-npm"></i></a>
                    <a href="https://github.com/validatorjs/validator.js" target="_blank" class="card-link"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>

    </div>
</div>