<!-- Home -->
<main class="container">
    <div class="row justify-content-center">

        <!-- Home page title -->
        <div class="col-12">
            <h1 class="text-center">Home</h1>
        </div>
        
        <!-- Description -->
        <div class="col-lg-8 col-md-12 m-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Description</h5>
                    <h6 class="card-subtitle mb-2 text-muted">A brief description of the project.</h6>
                    <p class="card-text">
                        A web application to train a sentiment analyzer based on the Naive Bayes classifier.
                        <br>
                        Sentiment Analysis is a project born for the "Web & Mobile Programming" class exam.
                    </p>
                    <a aria-label="Read More" target="_blank" href="https://github.com/initrm/sentiment-analysis#README.md" class="card-link">Read More</a>
                </div>
            </div>
        </div>

        <!-- Made by -->
        <div class="col-lg-8 col-md-12 m-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        <small>
                            Made by Andrea Tinelli
                            <br>
                            <i class="far fa-envelope"></i> University Email Address: <a href="mailto:andrea.tinelli@studenti.unimi.it">andrea.tinelli@studenti.unimi.it</a>
                            <br>
                            <i class="far fa-envelope"></i> Personal Email Address: <a href="mailto:tinelliandrea2@outlook.it">tinelliandrea2@outlook.it</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>

    </div>
</main>